.component-asist{
    height: 100vh;
}
.content-asist{
    display: flex;
    flex-direction: column;
}
.title-asist{
    width: 100%;
    padding:40px 0;
    display: flex;
    justify-content: center;
}
