@import url(https://fonts.googleapis.com/css?family=Montserrat);

.body-crud{
    border-radius: 20px;
    width: 903px;
    height: 80vh;
    font-family: montserrat;

}


.body-crud h1{
     margin: 30px 100px;
     
}
.components-crud{
    display: flex;
    justify-content: space-evenly;
    height: 50%;
    width: 100%;
}
#icon-edit{
    width: 30px;
    padding: 10px;
}
.img-crud{
    display: flex;
    align-items: flex-end;
    justify-content: end;
    height: 100%;
    width: 30%;
    border-radius: 20px;
    background-color: #e5e5e5;
}
#placeholder::placeholder{
    color: #000000;
    font-family: "Poppins", sans-serif;
    /* margin: 10rem 0; */
}
.form-crud{
    display: flex;
    width: 15rem ;
    flex-direction: column;
    justify-content: space-around;
}
.select-crud{
    background-color: #e5e5e5;
    padding: 8px;
    border-radius: 20px;
    border: none;
    outline: none;
}
.description-crud{
    height: 4rem;
}
.form-crud input{
    background-color: #e5e5e5;
    padding: 8px;
    border-radius: 20px;
    border: none ;
    outline: none;
}
.end{
    display: flex;
    width: 100%;
    justify-content:space-evenly ;
    align-items: center;
    height: 30% ;
}

.botones-crud{
    display: flex;
    justify-content: space-between;
    width: 16rem;
    height: 15%;
}
.btn-crud{
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    border: none ;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    border: #000000 1px ; 
    transition: all 0.3s;
    font-family: "Poppins", sans-serif;

}

button#btn-accept.btn-crud:hover{
 background-color: rgba(20, 164, 15, 0.636);
 color: white;
}
button#btn-cancel.btn-crud:hover{
    background-color: rgba(189, 0, 0, 0.66);
    color: white;
   }

.mapCrud{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    flex-direction: column;
}

.mapCrud h2{
    padding: 20px;
}