@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

.dash-config{
    display: flex;
    position: fixed;
    flex-direction: row;
    width:100%;
    height: 100vh;
    font-family: "Poppins", sans-serif;

}
.aside-config{
    width: 18%;
    display:flex;
    display: block;
    background-color:#afafaf;
    height:100%;
}
.aside-config ul{    
    display: block;
display: flex;
justify-content:space-around;
flex-direction:column;
height: 60%;
padding:13px 0px 66px 0px;
}
.aside-config li{
padding:10px 27px ;

}
.li-style-dash a{
color: rgb(235, 235, 235);
    }
.li-style-dash i{
padding: 0 10px;
}
.li-style-dash:hover{
background-color:rgb(121, 121, 121);
transform: .7s;
}
.ti-dashconfig{
    display: block;
    display: flex;
    align-items: center;
    padding:40px 0px 0px;
    overflow: hidden;
    width: 100%;
}
.ti-dashconfig i{
    padding: 0 20px;
}



/*contenido dash*/
.edit-info{
    display: flex;
    justify-content: center;
    position: relative;
    left: 20%;
    width: 80%;
    height: 100vh;
}
