@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: 'open sans'; 
}

.container-register-RegistroEmpresa {
  position: relative;
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
}

.forms-container-RegistroEmpresa {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}



.signin-signup-RegistroEmpresa {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}
.input-field {
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}
.input-field1-RegistroEmpresa {
  max-width: 330px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 60px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 7px 0.3rem;
  position: relative;
}

.input-field1-RegistroEmpresa i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}
.input-field1-RegistroEmpresa i {
  text-align: center;
  line-height: 47px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.input-field1-RegistroEmpresa input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.input-field1-RegistroEmpresa input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.ojito{
  width: 10%;
  text-align: center;
  line-height: 55px;
  color: #acacac;
  position: relative;
  top: -83%;
  left: 583%;
}



.box-conditionals-RegistroEmpresa{
  padding: 21px;
  font-size: 15px;
}
form.sign-in-form-RegistroEmpresa {
  display: flex ;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  padding: 30px 0;
  height: 100%;
}

.input-field-RegistroEmpresa {
  max-width: 308px;
  width: 100%;
  background-color: #ececec;
  margin: 15px 0;
  height: 45px;
  border-radius: 55px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-template-columns: 15% 85%;
  padding: 0 0.3rem;
  position: relative;
}

.input-field-RegistroEmpresa i {
  text-align: center;
  line-height: 48px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1rem;
}
.selec-cert{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
#image{

  font-size: 12px;

}
.input-field-RegistroEmpresa input {
  background: none;
  outline: none;
  border: none;
  
  font-weight: 600;
  font-size: 16px;
  height: 30px;
  color: #333;
}

.input-field-RegistroEmpresa input::placeholder {
  color: #aaa;
  font-weight: 600;
}





.panels-container-RegistroEmpresa {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container-register-RegistroEmpresa:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  background-image: linear-gradient(-45deg, #62498b 0%, #25c7ff 100%);  transition: 1.8s ease-in-out;
  border-radius: 50%;
  
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.left-panel-RegistroEmpresa {
  height: 90%;
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.content-RegistroEmpresa{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
color: white;
}


.panel .content-RegistroEmpresa {
  color: #fff;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}

.panel-RegistroEmpresa h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 1.5rem;
}

.panel-RegistroEmpresa p {
  font-size: 0.95rem;
  padding: 0.7rem 0;
}

.btn.transparent-RegistroEmpresa {
  margin: 0;
  background: none;
  border: 2px solid #fff;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
}
.image-RegistroEmpresa{
  width: 90%;
}

.right-panel .image-RegistroEmpresa,
.right-panel .content-RegistroEmpresa {
  transform: translateX(800px);
}

/* ANIMATION */

.container.sign-up-mode-RegistroEmpresa:before {
  transform: translate(100%, -50%);
  right: 52%;
}

.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content {
  transform: translateX(-800px);
}

.container.sign-up-mode .signin-signup {
  left: 25%;
}

.container.sign-up-mode form.sign-up-form {
  opacity: 1;
  z-index: 2;
}

.container.sign-up-mode form.sign-in-form {
  opacity: 0;
  z-index: 1;
}

.container.sign-up-mode .right-panel .image,
.container.sign-up-mode .right-panel .content {
  transform: translateX(0%);
}

.container.sign-up-mode .left-panel {
  pointer-events: none;
}

.container.sign-up-mode .right-panel {
  pointer-events: all;
}



@media (max-width: 870px) {
  .panels-container-RegistroEmpresa {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }
.content-RegistroEmpresa{
  padding-top: 10%;
  font-size: 26px;
}
  .image-RegistroEmpresa {
    display: none;
  }
  .input-field-RegistroEmpresa{
    padding: 30px;
    max-width: none;
    width: 500px;
  }
  .input-field-RegistroEmpresa input{
    font-size: 20px;
  }
  .container-register-RegistroEmpresa:before{
    height: 577px;
    width: 1059px;
    top: 48px;
    right: -16px;
  }
  #image{
    height: 100%;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
 
}
