@import url(https://fonts.googleapis.com/css?family=Montserrat);

.body-set{
    border: 1px black solid;
    border-radius: 20px;
    width:800px;
    height:95%;
    position: fixed;
    top: 1%;
    left: 28%;
    z-index: 1;
    float: left ;
    font-family: montserrat;
    background-color: white;
}


.body-set h1{
     margin: 30px 100px;
}
.components-set{
    display: flex;
    align-items: center;
    height: 65%;
    width: 100%;
    flex-direction: column;
}
#icon-edit{
    width: 30px;
    padding: 10px;
}
.formtwo{
    width: 200px;
}
.img-set{
    display: flex;
    align-items: flex-end;
    justify-content: end;
    height: 30%;
    width: 12rem;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
}
#placeholder::placeholder{
    color: #000000;
    font-family: "Poppins", sans-serif;
    /* margin: 10rem 0; */
}
.form-set{
    display: flex;
    height: 90%;
    width: 60%;
    justify-content: center;
    justify-content: space-between;
}
.comp-set{
    display: flex;
    flex-direction: column;
    font-family: "Poppins";
    align-items: center;
    justify-content: space-between;
     height: 100%;
     width: 100%;
     position: relative;
     z-index: 1;
}
.select-set{
    background-color: #e5e5e5;
    padding: 8px;
    border-radius: 20px;
    border: none;
    outline: none;
    width: 100%;
}
.description{
    height: 4rem;
}
.form-set input{
    background-color: #e5e5e5;
    padding: 8px;
    border-radius: 20px;
    border: none ;
    outline: none;
    width: 100%;
}
#btn-cancel{
    display: flex;
    align-items: center;
    border-radius: 20px;
    border: none ;
    width: 30%;
    justify-content: center;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    border: #000000 1px ; 
    transition: all 0.3s;
    font-family: "Poppins", sans-serif;

}
#btn-accept{
    display: flex;
    align-items: center;
    border-radius: 20px;
    border: none ;   
    padding: 8px;
    width: 30%;
    justify-content: center;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    border: #000000 1px ; 
    transition: all 0.3s;
    font-family: "Poppins", sans-serif;
}
.end-set{
    display: flex;
    width: 100%;
    justify-content: center ;
    align-items: center;
    height: 9% ;
}

.botones-set{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#btn-accept:hover{
 background-color: rgba(45, 126, 42, 0.355);
 color: white;
}
#btn-cancel:hover{
    background-color: rgba(172, 52, 41, 0.487);
    color: white;
   }