
  .content-home1{
    width: 100%;
  }
  .content-home2{
    height: 100vh;
  }

  .box1-home p{
    width: 100%;
    padding: 10px 0;
    color: #601a69;
  }
  .estado{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #other-text{
    width: 100px;
    font-size: 1rem;
    color: #000;
    overflow: hidden;
    border-right: .15em solid rgb(82, 12, 85);
    white-space: nowrap;
    animation: typing 4s steps(30) infinite, blink-caret .75s step-end infinite;
  }
 
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 65%;
    }
  }
  
  @keyframes blink-caret {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: rgb(143, 28, 127);
    }
  }
  .miFoto{
    width: 70px;
    display: flex;
    justify-content: center;
    border-radius: 200px;
    height: 70px;
    background-color: #bdbdbd;
  }
  .miFoto img{
    width: 90%;
  }
  .datosUser {
    width: 80%;

  }
  .button-crear{
    width: 100px;
    height: 40px;
    margin:36px 0;
    border: none;
  }
  .datosUser #p-home{
    font-size: 2rem;
    animation: fadeIn 2s linear;
    text-shadow: 1px 2px 3px rgb(221, 221, 221);
    color: #000;
    font-weight: 300;
    width: 100%;
  }
  .box1-home{
   display: flex;
    justify-content: space-around;
    width: 85%;
    box-shadow: 1px 1px 4px 1px #949494;
    background-color: #ffffff94;
    height: 400px;
    padding: 60px;
    margin: 3rem 0px 19px;
    border-radius: 1rem;

  }
  .box2-home{
    font-size: 15px;
    display: flex;
    box-shadow: 1px 1px 4px 1px #949494;
    background-color: #f4f4f494;
    align-items: center;
    justify-content: space-around;
    color: #000;
    width: 70%;
    border-radius:20px ;
    height:80px;
  }
  .contadores{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }