
  .content-home1{
    width: 100%;
  }
  .content-home2{
    height: 100vh;
  }

  .box1-home p{
    width: 250px;
  }
  .miFoto{
    width: 70px;
    display: flex;
    justify-content: center;
    border-radius: 200px;
    height: 70px;
    background-color: #bdbdbd;
  }
  .miFoto img{
    width: 90%;
  }
  .datosUser p{
    color: #000;
  }
  .box1-home{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    box-shadow: 1px 1px 4px 1px #949494;
    background-color: #e0e0e094;
    height: 111px;
    padding: 10px;
    margin: 3rem 0px 19px; 
    border-radius:2rem ;
  }
  .box2-home{
    font-size: 15px;
    display: flex;
    box-shadow: 1px 1px 4px 1px #949494;
    align-items: center;
    justify-content: center;
    color: #000;
    width: 408px;
    border-radius:20px ;
    height:58px;
    background-color: #cccccc94;
  }