@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');

.all-cards-events {
   font-family: 'Nunito', sans-serif;
   text-decoration: none;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}

.cards-index {
   position: relative;
   flex: 0 0 240px;
   width: 240px;
   height: 320px;
   background-color: #3d003f;
   overflow: hidden;
   border-radius: 10px;
   box-shadow: rgba(92, 92, 92, 0.66) 0 10px 20px 0, inset #7a7a7a 0 0 0 5px,
     inset rgba(209, 209, 209, 0.5) 0 0 0 5px;
   transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
   background-position: center;
   background-repeat: no-repeat;
 }

 

.product {
   height: 350px;
   width: 250px;
   margin: 50px;
   box-shadow: 5px 5px 20px black;
   overflow: hidden;
   border-radius: 20px;
   background-size: cover;
}

.product h1{
   color: #fff;
   text-align: center;
}

.product:hover {
   cursor: pointer;
}

.products-preview {
   display: none;
}

.products-preview.active {
   display: block;
}

/* -.-.-.-.-.-.-.-.-.-.-.-.-..-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-..-PREVIEW.-..-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-. */
.preview {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: rgb(255, 255, 255);
   border: .5px solid black;
   border-radius: 20px;
   width: 30%;
   height: 90%;
   z-index: 10;
}

.cardBig {
   height: 30%;
   width: 100%;
   border-radius: 20px 20px 0px 0px;
}

.info{
   display: flex;
   align-items: center;
   flex-direction: column;
   padding: 20px;
}

.buttons {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   height: 100px;
}

.reserv {
   background-color: #69affa;
   border-radius: 7px;
   height: 50%;
   color: white;
   border: none;
   padding: 10px 20px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
   transition: background-color 0.3s ease;
}

.reserv:hover {
   background-color: #014288;
 }
 
.buy {
   background-color: #983C59;
   border-radius: 7px;
   height: 50%;
   color: white;
   border: none;
   padding: 10px 20px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
   transition: background-color 0.3s ease;
}

.buy:hover {
   background-color: #55041e;
 }


#cierre-ventana {
   font-size: 30px;
   color: #000000;
}

#cierre-ventana:hover{
   color: #a70000
}

.preview h2 {
   display: flex;
   font-size: 20px;
   justify-content: center;
}

.products-preview .preview .fa-times {
   position: absolute;
   top: 20;
   right: 1.5rem;
   cursor: pointer;
   color: #444;
   font-size: 2rem;
   padding-top: 20px;
}




@media (max-width:991px) {

   html {
      font-size: 55%;
   }

}

@media (max-width:768px) {

   .products-preview .preview img {
      height: 25rem;
   }

}

@media (max-width:450px) {

   html {
      font-size: 50%;
   }

}