@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

*{
    margin: 0;
    padding: 0;
}
#img-card-pointer{
    cursor: pointer;
}

#h1-cardEvent{
    top: 10px;
    z-index: -1;
    padding: 10px 40px;
    width:100%;
    position: relative;
    height: 10vh;
    font-family: "Poppins";
    font-size: 20px;
    justify-content: center;

}
#h1-cardEvent hr{
    width: 200px ;
    height:1px ;
    
    border: #000 1px solid;
}
.component-card{
    display: flex;
    flex-direction: column;
    font-family: "Poppins";
    justify-content: space-between;
     height: 20rem;
     width: 13rem;
     border-radius: 20px;
     position: relative;
    border: 1px solid #bdbdbd;
     z-index: 1;
    }

.fondo{
    top: 0;
    left: 0;
    right: 0;
    border-radius: 20px;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    opacity: 0.9;
    filter: blur(2px);
    position: absolute;
  }
.imagen-card{
    
    width: 100%;
    height: 60%;    
    background-size: cover;
    background-repeat: no-repeat;

}
.button-delete{
    display: flex;
    justify-content: center;
border-radius: 10px;
}
.imagen-card img{
    width: 100%;
    height: 100%;
}
.icon-card{
    display: flex;
    justify-content: center;
    margin: auto 1.3rem;
    background-color: white;
    opacity: 0.4;
    color: #000;
    border-radius: 8px;
}
.icon-card i{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 100%;

}
.head-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}
.shadow{
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius:0 0 20px 20px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.447);
    height: 4rem;
    opacity: 0.6;
}
.shadow p{ 
    color: #000;
    font-size: 1.1rem;
}
.events-card-all{
    display: grid;
    gap: 20px;
    flex-wrap: wrap;
    grid-template-areas: "ca1 ca2 ca3 ca4 ca5";
}
.events-card-all-page {
    position: relative;
    left: 220px;
    padding: 10px 98px;
    width: 80%;
    height: 90vh ;
    overflow: scroll;

    justify-content: space-evenly;
  }

.cardedit {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
}
@media (max-width:1377px){
    .events-card-all{
        grid-template-areas: "ca1 ca2 ca3 ca4 ";
    }
    .events-card-all-page {

        height: 82vh;

    }
}