@import url(https://fonts.googleapis.com/css?family=Montserrat);

*{
    margin: 0;
    padding: 0;
}
#img-card-pointer{
    cursor: pointer;
}

#h1-cardEvent{
    position: relative;
    left: 220px;
    padding: 10px 40px;
    width: 25%;
    height: 10vh ;
    justify-content: center;

}
#h1-cardEvent hr{
    width: 200px ;
    height:1px ;
    border: #000 1px solid;
}
.component-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
     height: 20rem;
     font-family: montserrat;
     width: 13rem;
     border-radius: 20px;
     position: absolute;
    border: 1px inset #fff;
     z-index: 1;
    }

.fondo{
    top: 0;
    left: 0;
    right: 0;
    border-radius: 20px;
    bottom: 0;
    background-image: url('../../../assets/code.jpg');        
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    opacity: 0.9;
    filter: blur(2px);
    position: absolute;
  }
.imagen-card{
    
    width: 100%;
    height: 60%;    
    background-size: cover;
    background-repeat: no-repeat;

}
.imagen-card img{
    width: 100%;
    height: 100%;
}
.icon-card{
    display: flex;
    justify-content: center;
    margin: auto 1.3rem;
    background-color: white;
    opacity: 0.4;
    border-radius: 8px;
}

.head-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}
.shadow{
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius:0 0 20px 20px;
    align-items: center;
    background-color: rgb(255, 255, 255);
    height: 4rem;
    opacity: 0.6;
}

.events-card-all {
    position: relative;
    left: 220px;
    padding: 10px 40px;
    width: 80%;
    height: 50vh ;
    justify-content: center;
  }

.cardedit {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
}