@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

.contain-form{
    background: #f0f0f0;
    padding: 10px 14px;
    border-radius: 10px;
    height: 400px;
    display: flex;
    justify-content: center;
    width: 30%;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.contain-form h2{
    font-family: "Poppins", sans-serif;

    color: #252525;
    font-size: 28px;
    text-decoration: underline;
}
.contain-form p{
    font-family: "Poppins", sans-serif;

    font-size: 18px;
}
.contain-form-f{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.contain-form-f input{
    padding: 8px 12px;
    border: none;
    border-radius: 20px;
    width: 250px;
}
.contain-form-f button{
    border: none;
    padding: 12px 18px;
    background: #a45fad;
    font-family: "Poppins", sans-serif;

    color: #fff;
    border-radius: 20px;
}
.contain-form-f a{
    color: rgb(160, 160, 160);
    text-decoration: underline;
}
