@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,300&display=swap');

.contentCardPassword { 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 5rem;
}

.cardPassword{   
    border: 1px solid rgb(216, 216, 216);
    width: 40rem;
    height: 26rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 35px;
    align-items: center;
    box-shadow: 1px 3px 13px -1px;
    font-family: 'Roboto', sans-serif;

}

#title-recover{
    /* margin-left: 5rem; */
    padding-top: 2rem ;
    font-size: 2.4rem;
    color: #541F5C;
}
#recover-text{
    width: 60%;
    text-align: center;
    /* margin-left: 5rem; */

}
.boxes{
    padding: 30px;
}
.boxes input{
    outline: none;
    text-align: center;
    border-bottom: 2px solid #710982;
    height: 20px;
    padding: 20px;
    width: 16rem;
}
#input-recover input{
    outline: none;
    background: none;
    /* margin-left: 5rem; */
    border: none;
    height: 1rem;
    width: 16rem;
    border-bottom: 1.2px solid #710982;
}
#input-recover::placeholder{
    font-size: 1rem;
}
#form-new input{
    outline: none;
    width: 100%;
    border-bottom: 1.2px solid #710982;

}
#form-new .btn-recover{
    width: 70%;


}
#form-new{
    height: 30%;
    display: flex;
    justify-content: space-around;
}
.text{
    width: 70%;
    text-align: center;
    }
.btn-recover{
    display: flex;
    font-size: 1.1rem;
    width: 100%;
    height: 1rem;
    padding: 0.5rem;
    justify-content: space-around;
    align-items: center;
}
.btn-next{
    border-radius:19px;
    border: none;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    background-color: #982da853;
    width: 55%;
    
}
#hv{
    padding: 1rem;

}
#hv:hover{
    color: #982da876;
}
.btn-next:hover{
    color: #982da876;
}

#mail_user1{
    margin: 20px 0;

}

.cardPassword form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}